{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- <link rel="stylesheet" href="/style.css"> -->
    <title>E-COMMERCE WEBSITE BY EDYODA | CREATED BY PRIYANKA SHARMA</title>
    <!-- favicon -->
    <link
      rel="icon"
      href="https://yt3.ggpht.com/a/AGF-l78km1YyNXmF0r3-0CycCA0HLA_i6zYn_8NZEg=s900-c-k-c0xffffffff-no-rj-mo"
      type="image/gif"
      sizes="16x16"
    />
    <!-- header links -->
    <script src="https://kit.fontawesome.com/4a3b1f73a2.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato&display=swap"
      rel="stylesheet"
    />
    <!-- slider links -->
    <!-- <script src="http://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> -->
    <script src="/static/js/jQuery3.4.1.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
    />

    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    {% block head %} {% endblock %}
  </head>

  <body>
    {% if messages %}
    <div class="messages">
      {% for message in messages %}
      <div class="message {{message.tags}}">
        <h2>{{message}}</h2>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    <header>
      <section>
        <!-- MAIN CONTAINER -->
        <div id="nav-container">
          <!-- SHOP NAME -->
          <div id="shopName">
            <a href="{% url 'home' %}"> <b>HOME</b>LANE </a>
          </div>
          <!-- COLLCETIONS ON WEBSITE -->
          <div id="collection">
            <div id="clothing">
              <a href="{% url 'product_list' %}"> PRODUCTS </a>
            </div>
            <div>
              <ul class="categories">
                <li>
                  <a href="#">CATEGORIES</a>
                  <ul class="categories_list">
                    {% for category in categories %}
                    <li>
                      <a href="{% url 'product_list' %}?category={{category.id}}">{{category.title}} </a>
                    </li>

                    {% endfor %}
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <!-- SEARCH SECTION -->
          <form id="search" action="{% url 'product_list' %}" method="get">
            <!-- <i class="fas fa-search search"></i> -->
            <input
              type="text"
              id="input"
              name="title"
              value="{{ request.GET.title}}"
              placeholder="Search for Clothing and Accessories"
            />
            <button type="submit">
                <svg fill="#000000" height="25px" width="25px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 488.4 488.4" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M0,203.25c0,112.1,91.2,203.2,203.2,203.2c51.6,0,98.8-19.4,134.7-51.2l129.5,129.5c2.4,2.4,5.5,3.6,8.7,3.6 s6.3-1.2,8.7-3.6c4.8-4.8,4.8-12.5,0-17.3l-129.6-129.5c31.8-35.9,51.2-83,51.2-134.7c0-112.1-91.2-203.2-203.2-203.2 S0,91.15,0,203.25z M381.9,203.25c0,98.5-80.2,178.7-178.7,178.7s-178.7-80.2-178.7-178.7s80.2-178.7,178.7-178.7 S381.9,104.65,381.9,203.25z"></path> </g> </g> </g></svg>
            </button>
          </form>
          <!-- USER SECTION (CART AND USER ICON) -->
          <div id="user">
            <button class="cart-btn">0</button>
            <a href="#"> <i class="fas fa-user-circle userIcon"></i> </a>
          </div>
          <div class="cart">
            <div class="cart-items"></div>
            <div class="cart-footer">
              <p>Total price: <strong class="total-price">1000</strong>$</p>
              <a class="cart-buy" href="{% url 'create_order' %}">Buy now</a>
            </div>
          </div>
        </div>
      </section>
    </header>

    {% block content %} {% endblock %}

    <!-- FOOTER -->
    <footer>
      <section>
        <div id="containerFooter">
          <div id="webFooter">
            <h3>online store</h3>
            <p>men clothing</p>
            <p>women clothing</p>
            <p>men accessories</p>
            <p>women accessories</p>
          </div>
          <div id="webFooter">
            <h3>helpful link</h3>
            <p>home</p>
            <p>about</p>
            <p>contact</p>
          </div>
          <div id="webFooter">
            <h3>partners</h3>
            <p>zara</p>
            <p>pantaloons</p>
            <p>levis</p>
            <p>ucb</p>
            <p>+ many more</p>
          </div>
          <div id="webFooter">
            <h3>address</h3>
            <p>building 101</p>
            <p>central avenue</p>
            <p>la - 902722</p>
            <p>united states</p>
          </div>
        </div>
        <div id="credit">
          <a href="https://linkedin.com/in/priyanka-sharma-b79401142">
            © Priyanka Sharma
          </a>
          &nbsp&nbsp&nbsp | &nbsp&nbsp&nbsp
          <a href="https://www.edyoda.com/" target="_blank"> EDYODA </a>
        </div>
      </section>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="/static/js/cart.js"></script>
    <script>
      $(document).ready(function () {
        $("#containerSlider").slick({
          dots: true,
          infinite: true,
          slidesToShow: 1,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 1500,
        });
      });
    </script>
  </body>

  <!-- slider JS START -->
  <!-- slider JS ENDS -->
</html>
