{% extends "../base.html" %}
{% load socialaccount %}
{% block head %}
<link rel="stylesheet" href="/static/css/registration.css" />
{% endblock %} {% block content %}

<div class="container">
  <div class="login form">
    <header>Login</header>
    <form method="POST">
    {% csrf_token %}
      {{login_form.username}}
      {{login_form.password}}
      <a href="#">Forgot password?</a>
      <a href="{% provider_login_url 'google'%}?next=/">
        Login with Google
      </a>
      <input type="submit" class="button" value="Login" />
    </form>
    <div class="signup">
      <span class="signup"
        >Don't have an account?
        <a href="{% url 'signup'%}">Signup</a>
      </span>
    </div>
  </div>
</div>
{% endblock %}
