{% extends "../base.html" %} {% block head %}
<link rel="stylesheet" href="/static/css/contentDetails.css" />

{% endblock%} {% block content %}
<div id="containerProduct">
  <div id="containerD">
    <div id="imageSection">
      <img
        id="imgDetails"
        src="{{product.get_first_image}}"
      />
    </div>
    <div id="productDetails">
      <h1>{{product.title}}</h1>
      <!-- <h4>United Colors of Benetton</h4> -->
      <div id="details">
        <h3>{{product.price}} USD</h3>
        <h3>Description</h3>
        <p>
          {{product.description}}
        </p>
      </div>
      <div id="productPreview">
        <h3>Product Preview</h3>
        {% for img in gallery %}
        <img
          id="previewImg"
          src="{{img.image.url}}"
        />
        {% endfor %}
      </div>
      <div id="button"><button>Add to Cart</button></div>
    </div>
  </div>
</div>

{% endblock%}
