{% extends "../base.html" %} {% block head %}
<link rel="stylesheet" href="/static/css/contentDetails.css" />

{% endblock%} {% block content %}
<div id="containerProduct">
  <div id="containerD">
    <div id="imageSection">
      <img id="imgDetails" src="{{product.get_first_image}}" />
    </div>
    <div id="productDetails">
      <h1>{{product.title}}</h1>
      <!-- <h4>United Colors of Benetton</h4> -->
      <div id="details">
        <h3>{{product.price}} USD</h3>
        <h3>Description</h3>
        <p>{{product.description}}</p>
      </div>
      <div id="productPreview">
        <h3>Product Preview</h3>
        {% for img in gallery %}
        <img id="previewImg" src="{{img.image.url}}" />
        {% endfor %}
      </div>
      <div id="button">
        <button onclick="addToCart('{{product.id}}')">Add to Cart</button>
      </div>
    </div>
  </div>
  <div class="comments_container">
    <div class="form_block">
      <h2>Comments:</h2>
      <form method="post">
        {% csrf_token %} {{comment_form}}
        <button type="submit">Submit comment</button>
      </form>
    </div>
    <div class="comments">
      {% for comment in product_comment %}
      <div class="comment">
        <div class="comment-header">
          <h2>{{comment.author.username}}</h2>
          <p>{{comment.created_at|date:"j/m/y"}}</p>
        </div>
        <div class="comment-details">
          <p>{{comment.content}}</p>
          {% if user == comment.author %}
          <button onclick="deleteComment(this,'{{comment.id}}')">
            <svg
              height="30px"
              width="30px"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 512 512"
              xml:space="preserve"
              fill="#000000"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  style="fill: #b3404a"
                  d="M334.885,98.803c-1.182,0-2.381-0.142-3.579-0.439c-7.951-1.97-12.801-10.013-10.83-17.965 l5.66-22.846l-99.892-24.752l-5.662,22.846c-1.97,7.951-10.021,12.801-17.965,10.83c-7.951-1.97-12.801-10.014-10.83-17.965 l9.229-37.244c1.97-7.952,10.02-12.8,17.965-10.83L347.67,32.325c3.818,0.946,7.105,3.369,9.136,6.739 c2.031,3.37,2.64,7.408,1.694,11.226l-9.229,37.245C347.597,94.288,341.542,98.803,334.885,98.803z"
                ></path>
                <g>
                  <polygon
                    style="fill: #f4b2b0"
                    points="177.957,497.166 111.947,497.166 85.536,153.586 177.957,153.586 "
                  ></polygon>
                  <polygon
                    style="fill: #f4b2b0"
                    points="361.805,497.166 295.795,497.166 295.795,153.586 388.217,153.586 "
                  ></polygon>
                </g>
                <path
                  style="fill: #b3404a"
                  d="M445.095,146.789L74.039,54.848c-7.945-1.971-15.995,2.876-17.965,10.83 c-1.971,7.952,2.878,15.995,10.83,17.965l222.414,55.11h-111.36h-6.349H85.535c-4.131,0-8.075,1.724-10.883,4.754 c-2.808,3.032-4.223,7.096-3.907,11.217l26.412,343.581c0.593,7.728,7.038,13.696,14.79,13.696h66.011h46.21 c8.191,0,14.833-6.642,14.833-14.833c0-8.191-6.642-14.833-14.833-14.833h-31.377V168.419h88.169v328.747 c0,8.191,6.642,14.833,14.833,14.833h66.01c7.752,0,14.196-5.967,14.79-13.696l25.491-331.609l35.874,8.89 c1.199,0.297,2.397,0.439,3.579,0.439c6.657,0,12.712-4.515,14.385-11.269C457.897,156.802,453.048,148.759,445.095,146.789z M101.552,168.419h61.573v313.914h-37.442L101.552,168.419z M348.068,482.333h-37.439V168.419H372.2L348.068,482.333z"
                ></path>
              </g>
            </svg>
          </button>
          {% endif %}
        </div>
      </div>
    
      {% endfor %}
    </div>
  </div>
</div>

<script src="/static/js/cart.js"></script>
<script>
  function deleteComment(button, commentId) {
    console.log(commentId);
    const url = `http://127.0.0.1:8000/comments/${commentId}/delete`;
    fetch(url, { method: "DELETE", credentials: "include" })
      .then((res) => res.json())
      .then((data) => {
        console.log(data);
        if (data.success) {
          const comment = button.parentElement.parentElement;
          comment.remove();
        }
      })
      .catch((err) => {
        console.error(err);
      });
  }

  function changePreviewImage(e) {
    const img = e.target;
    // console.log(img)
    imgDetails.src = img.src;
  }

  const imgDetails = document.querySelector("#imgDetails");

  document.querySelectorAll("#previewImg").forEach((img) => {
    img.addEventListener("click", changePreviewImage);
  });


  // function addToCart(productId) {
  //   const url = "{% url 'cart' %}";
  //   fetch(url, {
  //     method: "POST",
  //     credentials: "include",
  //     body: JSON.stringify({ product_id: productId }),
  //   })
  //     .then((res) => res.json())
  //     .then((data) => {
  //       console.log(data);
  //       const cart_info=data.cart;
  //       localStorage.setItem('cart', JSON.stringify(cart_info));
  //     })
  //     .catch((err) => {
  //       console.error(err);
  //     });
  // }
</script>

{% endblock%}
