{% extends "../base.html" %} 
{% block head %}
    <link rel="stylesheet" href="/static/css/order.css" />
{% endblock%}

{% block content %}
<div class="container">
    <div class="order-container">
        
        <h2>Items:</h2>
        <div class="order-items"></div>
        <p class="order-price">Total price:<strong class="order-price"></strong>$</p>
        <div class="wrapper">
            <div class="container">
                <form method="post">
                    {% csrf_token %}
                    <h1>
                        <i class="fas fa-shipping-fast"></i>
                        Shipping Details
                    </h1>
                    {% if form.non_field_errors %}
                        <div>
                            {{form.non_field_errors}}
                        </div>
                    {% endif %}
                    <div class="name">
                        <div>
                            <!-- <label for="f-name">First</label>
                            <input type="text" name="f-name"> -->
                            {{form.first_name.label_tag}}
                            {{form.first_name}}
                            {{form.first_name.errors}}
                        </div>
                        <div>
                            <!-- <label for="l-name">Last</label>
                            <input type="text" name="l-name"> -->
                            {{form.last_name.label_tag}}
                            {{form.last_name}}
                            {{form.last_name.errors}}
                        </div>
                    </div>
                    <div class="contact-info">
                        <div>
                            {{form.phone.label_tag}}
                            {{form.phone}}
                            {{form.phone.errors}}
                        </div>
                        <div>
                            {{form.email.label_tag}}
                            {{form.email}}
                            {{form.email.errors}}
                        </div>
                    </div>
                    <div class="street">
                        <!-- <label for="name">Street</label>
                        <input type="text" name="address"> -->
                        {{form.adress.label_tag}}
                        {{form.adress}}
                        {{form.adress.errors}}
                    </div>
                    <div class="address-info">
                        <div>
                            <!-- <label for="city">City</label>
                            <input type="text" name="city"> -->
                            {{form.city.label_tag}}
                            {{form.city}}
                            {{form.city.errors}}
                        </div>
                        <div>
                            <!-- <label for="state">State</label>
                            <input type="text" name="state"> -->
                            {{form.state.label_tag}}
                            {{form.state}}
                            {{form.state.errors}}
                        </div>
                        <div>
                            <!-- <label for="zip">Zip</label>
                            <input type="text" name="zip"> -->
                            {{form.postal_code.label_tag}}
                            {{form.postal_code}}
                            {{form.postal_code.errors}}
                        </div>
                    </div>
                    <h1>
                        <i class="far fa-credit-card"></i> Payment Information
                    </h1>
                    <div class="cc-num">
                        <label for="card-num">Credit Card No.</label>
                        <input type="text" name="card-num">
                    </div>
                    <div class="cc-info">
                        <div>
                            <label for="card-num">Exp</label>
                            <input type="text" name="expire">
                        </div>
                        <div>
                            <label for="card-num">CCV</label>
                            <input type="text" name="security">
                        </div>
                    </div>
                    <div class="btns">
                        <button type="submit">Purchase</button>
                        <button>Back to cart</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="/static/js/cart.js"></script>
<script>

    let currentTotalPrice=0;

    function calculateTotalPrice() {
        const cartItems = JSON.parse(sessionStorage.getItem('cart'));
        const cartValues=Object.values(cartItems);
        const totalPrice=cartValues.reduce((acc, item) => {
            const price = item.price;
            const quantity = item.quantity;
            return acc + (price * quantity);
        }, 0);
        console.log("Total price:", totalPrice);
        return totalPrice;
    }

    function updatePriceIfNeeded(){
        const newTotalPrice=calculateTotalPrice();
        if (newTotalPrice!=currentTotalPrice){
            currentTotalPrice=newTotalPrice;
            orderPrice.innerText=newTotalPrice;
            console.log("Updated price:", currentTotalPrice);
        }
    }

    const orderItemsBlock = document.querySelector('.order-items');
    const orderPrice = document.querySelector('.order-price');

    function checkItemsQuantityInputs (){
        const itemsQuantityInputs=document.querySelectorAll(".quantity-input");
        // console.log("Inputs:", itemsQuantityInputs)
        itemsQuantityInputs.forEach(input=>{
            input.addEventListener("change", (e)=>{
                let intervalId=setInterval((input)=>{
                    updatePriceIfNeeded();
                }, 200);
                setTimeout(()=>{
                    clearInterval(intervalId);
                }, 2000);
            })
        })
    }

    function checkRemoveButtonClick() {
        const removeCartButtons=document.querySelectorAll(".remove-cart");
        removeCartButtons.forEach((btn)=>{
            btn.addEventListener("click", (e)=>{
                const cartBlock=btn.parentElement.parentElement.parentElement.parentElement;
                cartBlock.remove();
                let intervalId=setInterval((input)=>{
                    updatePriceIfNeeded();
                }, 200);
                setTimeout(()=>{
                    clearInterval(intervalId);
                }, 2000);
            })
        })
    }

    window.addEventListener('pageshow', () => {
        orderItemsBlock.innerHTML='';
        orderPrice.innerText=''
        
        const url="http://127.0.0.1:8000/cart"
   
        fetch(url,{
            method:"GET",
            credentials:'include',
        })
            .then(res => res.json())
            .then(data => {
                const cartItems = data.cart;
                console.log("Cart data rom fetch:", cartItems)
                sessionStorage.setItem('cart', JSON.stringify(cartItems));

                showCartItems(cartItems, orderItemsBlock, orderPrice);
                checkItemsQuantityInputs()
                checkRemoveButtonClick()

            })
            .catch(err => {
                console.log("Error get cart item:", err)
            })

        

        

       

    });
</script>
{% endblock%}